#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -14.5rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 14.5rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
}

.sidebar-logo {
  padding: 0 26.8px 0 26.8px;
  display: none;
}

.navbar-logo {
  display: block;
  font-size: 15px;
}

.navbar-text {
  display: none;
  font-size: 20px;
}

.sidebar-profile {
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 0.7rem;
}

.sidebar-profile > img {
  padding: 0;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .sidebar-logo {
    display: block;
  }

  .navbar-logo {
    display: none;
  }

  .navbar-text {
    display: block;
  }

  .toggle-div {
    display: none;
  }
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -14.5rem;
  }
}

/* top nav bar */

.text-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: bold;
}

/* toggle-div*/
.toggle-div {
  background-color: rgba(138, 43, 226, 0.2);
  width: 100%;
}

/* arrow */

.arrow-left {
  border-radius: 0px 30px 30px 0;
  color: wheat;
  width: 50px;
}

.bg-purple {
  background-color: blueviolet;
}

/* all tabs */
.nav-scroll {
  white-space: nowrap;
  display: block !important;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.nav-scroll li {
  display: inline-block;
}

@media (min-width: 768px) {
  .nav-scroll {
    overflow-x: auto;
  }
}

#main {
  min-height: 120vh;
  background-color: rgba(138, 43, 226, 0.2);
}

.main-nav > li > a {
  text-transform: uppercase;
  color: black !important;
  font-weight: bold;
}

.main-nav > li > a.active {
  background: linear-gradient(to top, orangered 8%, transparent 0);
}
/* projcets tab */
.project-nav-link {
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 15px;
  font-weight: bold;
}

.project-card-new {
  background-color: rgba(138, 43, 226, 0.2);
  border-color: rgba(138, 43, 226, 0.2);
}

.project-card-new-label {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 13px;
  padding: 0 10px;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
}

.project-card {
  border-width: 2px;
  border-radius: 5px;
  border-color: rgba(138, 43, 226, 0.2);
}

.project-card-redo-label {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 13px;
  padding: 0 10px;
  background-color: #ff5349;
  color: white;
  font-weight: bold;
}

.project-nav-pills > li > a {
  color: black !important;
}

.project-nav-pills > li > a.active {
  color: blueviolet !important;
}

.project-lab-link {
  color: orangered;
  text-decoration: underline;
}

.project-lab-link:hover {
  color: orangered;
  text-decoration: underline;
}

.btn-project-submit {
  color: white;
  font-weight: bold;
  background-color: #ff5349;
}

.btn-project-submit:hover {
  color: white;
  font-weight: bold;
  background-color: #ff5349;
}

.btn-project-details {
  color: rgba(138, 43, 226, 1);
  font-size: 17px !important;
  padding: 0 !important;
  text-decoration: none;
}

.btn-project-details:hover {
  color: rgba(138, 43, 226, 0.9);
  font-size: 17px !important;
  padding: 0 !important;
  text-decoration: none;
}

/* fiexed contact us button */
div.fixed {
  position: fixed;
  bottom: 3vh;
  right: 10px;
}

.img-contact {
  margin: 8px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.img-contact:hover {
  filter: contrast(200%);
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
